{% extends 'two-column.twig' %}
{% import 'macros/macros' as macros %}

{% block banner %}
    {% set content %}
        <h1>Calendar of Events: {{ startDate }}{% if dateRangeKey != 'day' %} - {{ endDate }}{% endif %}</h1>
    {% endset %}
    {% include('content-builder/banner-bar') %}
{% endblock %}

{% block main %}
    <div class="Container Container--pad">
        <div class="h2 flex justify-center g-1">
            {% if previousDateUrl %}
                <a href="{{ previousDateUrl }}" class="flex align-center" title="Go to the previous date range">{{ macros.iconImg('caret-left', 'Go to the previous month', 'CalendarGrid-headingIcon') }}</a>
            {% endif %}
            <span>{{ startDate }}{% if dateRangeKey != 'day' %} - {{ endDate }}{% endif %}</span>
            {% if nextDateUrl %}
                <a href="{{ nextDateUrl }}" class="flex align-center" title="Go to the next date range">{{ macros.iconImg('caret-right', 'Go to the next month', 'CalendarGrid-headingIcon') }}</a>
            {% endif %}
        </div>
        {{ header }}
        {% if eventCount > 0 %}
            {% if agenda.days %}
                {% set days = agenda.days %}
            {% elseif category.agenda.days %}
                {% set days = category.agenda.days %}
            {% elseif tag.agenda.days %}
                {% set days = tag.agenda.days %}
            {% endif %}
            {% for day in days %}
                <h2>{{ day.dateTimestamp|date('l, F j, Y') }}</h2>
                {% for event in day.events %}
                    <div class="mb-3">
                        <h3 class="h4"><a href="{{ event.url }}">{{ event.title }}</a></h3>
                        {% if event.isMultiDay %}
                            <div class="flex align-center g-1">
                                {{ macros.iconImg('calendar', 'Date') }}
                                <div>{{ event.startDate }} to {{ event.endDate }}</div>
                            </div>
                        {% endif %}
                        {% if event.time.type != 'notime' %}
                            <div class="flex align-center g-1">
                                {{ macros.iconImg('clock', 'Time') }}
                                <div>
                                    {% if event.time.type == 'timed' %}
                                        {{ event.time.start }} to {{ event.time.end }}
                                    {% elseif event.time.type == 'start' %}
                                        {{ event.time.start }}
                                    {% elseif event.time.type == 'allday' %}
                                        All Day
                                    {% elseif event.time.type == 'tba' %}
                                        TBA
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if event.shortDescription %}
                            <div class="mt-1">{{ event.shortDescription }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
        {% endfor %}
        {% else %}
            <div class="text-center m-2">{{ noEventsMessage }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ include('calendar/sidebar.twig') }}
{% endblock %}
