{# Macro to build an accessible icon with a title #}
{% macro iconImg(icon, title, class) %}
    {% apply spaceless %}
        {% set class = (class ~ ' Icon')|trim %}
        {% set id = 'iconTitle-' ~ random_string(6) %}
        <svg class="{{ class }}" role="img" alt="{{ title }}" aria-labelledby="{{ id }}" focusable="false"><title id="{{ id }}">{{ title }}</title><use xlink:href="#icon-{{ icon }}" /></svg>
    {% endapply %}
{% endmacro %}

{# Macro to build an icon that should be hidden from screen readers #}
{% macro iconAriaHidden(icon, class) %}
    {% apply spaceless %}
        {% set class = (class ~ ' Icon')|trim %}
        <svg class="{{ class }}" aria-hidden="true" focusable="false"><use xlink:href="#icon-{{ icon }}" /></svg>
    {% endapply %}
{% endmacro %}

{# Macro to load Splide #}
{% macro loadSplide() %}
    {% do _page.addCss('splide/splide.min.css'|theme_url, {'preload': true}) %}
    {% do _page.addCss('splide/splide-extension-video.min.css'|theme_url, {'preload': true}) %}
    {% if _page.hasJs('splide/splide.min.js'|theme_url) == false %}
        {% inlinejs %}
            loadjs.ready('main', {
                success: function() {
                    loadjs(['{{ 'splide/splide.min.js'|theme_url }}'], 'splide');
                }
            });
            loadjs.ready('splide', {
                success: function() {
                    loadjs(['{{ 'splide/splide-extension-video.min.js'|theme_url }}'], 'splidevideo');
                }
            });
        {% endinlinejs %}
        {% do _page.registerJs('splide/splide.min.js'|theme_url) %}
    {% endif %}
{% endmacro %}

{# Macro to load fslightbox #}
{% macro loadLightbox() %}
    {% inlinejs %}
        loadjs.ready('main', {
            success: function() {
                loadjs(['{{ '/js/lightbox.js'|theme_url }}'], 'lightbox');
            }
        });
    {% endinlinejs %}
    {% do _page.registerJs('/js/lightbox.js'|theme_url) %}
{% endmacro %}

{#
 # Outputs the container width class for blocks
 # width: The width field value for the block
 # useRegularWidth: Whether to use the regular width class. This is for blocks that could be full width, but want the option to be contained.
 #}
{% macro blockWidth(width, useRegularWidth = false) %}
{% if useRegularWidth && (width in ['regular', 'narrow', 'small']) %} Container Container--pad{{ _self.blockNarrowSmallWidth(width) }}{% else %}{{ _self.blockNarrowSmallWidth(width) }}{% endif %}
{% endmacro %}

{#
 # Outputs the narrow or small width class for the container.
 # Unlike blockWidth, this does not handle the regular width class.
 # width: The width field value for the block
#}
{% macro blockNarrowSmallWidth(width) %}
{% if width == 'narrow' %} Container--narrow{% elseif width == 'small' %} Container--small{% endif %}
{% endmacro %}

{#
 # Outputs the margin class for blocks
 # margin: The margin field value for the block
#}
{% macro blockMargin(margin) %}
{% if margin == 'regular' %} my-3 my-5-md{% elseif margin == 'regular-above' %} mt-3 mt-5-md{% elseif margin == 'regular-below' %} mb-3 mb-5-md{% elseif margin == 'large' %} my-4 my-6-md my-8-lg{% elseif margin == 'large-above' %} mt-4 mt-6-md mt-8-lg{% elseif margin == 'large-below' %} mb-4 mb-6-md mb-8-lg{% endif %}
{% endmacro %}

{#
 # Outputs the padding class for blocks
 # padding: The padding field value for the block
#}
{% macro blockPadding(padding) %}
{% if padding == 'regular' %} py-3 py-5-md{% elseif padding == 'regular-above' %} pt-3 pt-5-md{% elseif padding == 'regular-below' %} pb-3 pb-5-md{% elseif padding == 'large' %} py-4 py-6-md py-8-lg{% elseif padding == 'large-above' %} pt-4 pt-6-md pt-8-lg{% elseif padding == 'large-below' %} pb-4 pb-6-md pb-8-lg{% endif %}
{% endmacro %}
