{% extends 'one-column.twig' %}
{% import 'macros/macros' as macros %}

{% block banner %}
    {% set content %}
        <h1>Calendar of Events: {{ startDate }}{% if dateRangeKey != 'day' %} - {{ endDate }}{% endif %}</h1>
    {% endset %}
    {% include('content-builder/banner-bar') %}
{% endblock %}

{% block main %}
{% if header %}
    <div class="Container Container--narrow">{{ header }}</div>
{% endif %}
<div class="Container Container--pad">
    <div class="h2 flex justify-center g-1">
        {% if grid.previousDateUrl %}
            <a href="{{ grid.previousDateUrl }}" class="flex align-center" title="Go to the previous month">{{ macros.iconImg('caret-left', 'Go to the previous month') }}</a>
        {% endif %}
        <span>{{ grid.month }} {{ grid.year }}</span>
        {% if grid.nextDateUrl %}
            <a href="{{ grid.nextDateUrl }}" class="flex align-center" title="Go to the next month">{{ macros.iconImg('caret-right', 'Go to the next month') }}</a>
        {% endif %}
    </div>
    <table class="CalendarGrid mb-4">
        <thead class="CalendarGrid-head">
        <tr>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">S</span></th>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">M</span></th>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">T</span></th>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">W</span></th>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">T</span></th>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">F</span></th>
            <th class="CalendarGrid-headCell"><span class="CalendarGrid-headCellContent">S</span></th>
        </tr>
        </thead>
        <tbody class="CalendarGrid-body">
        {% for row in grid.rows %}
            <tr>
                {% for box in row.boxes %}
                    {% set class = 'CalendarGrid-cell' %}
                    {% if box.isWeekend == true and box.isThisMonth == true %}
                        {% set class = class ~ ' ' ~ 'CalendarGrid-cell--isEnd' %}
                    {% endif %}
                    {% if box.isToday %}
                        {% set class = class ~ ' ' ~ 'CalendarGrid-cell--isToday' %}
                    {% endif %}
                    {% if box.isThisMonth == false %}
                        {% set class = class ~ ' ' ~ 'CalendarGrid-cell--isEmpty' %}
                    {% endif %}
                    <td class="{{ class|trim }}">
                        {% if box.isThisMonth %}
                            <div class="CalendarGrid-cellDate">{{ box.dayShort }}</div>
                            {% if box.eventCount > 0 %}
                                {% for event in box.events %}
                                    <a href="{{ event.url }}" class="link-subtle">{{ event.title }}<br>
                                        {% if event.time.type == 'timed' %}
                                            {{ event.time.start }} to {{ event.time.end }}
                                        {% elseif event.time.type == 'start' %}
                                            {{ event.time.start }}
                                        {% elseif event.time.type == 'allday' %}
                                            All Day
                                        {% elseif event.time.type == 'tba' %}
                                            TBA
                                        {% endif %}
                                        {% if event.location %}
                                            <span class="block">{{ event.location }}</span>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
