{% if columns %}
    {# Set the column classes based on the number of columns #}

    {% set count = numberOfColumns == 'Auto' ? columns|length : numberOfColumns %}
    {% if count == null %}
        {% set count = columns|length %}
    {% endif %}

    {% if count % 4 == 0 %}
        {% set class = 'col-1-4 col-lg-1-3 col-md-1-2 col-1-1' %}
    {% elseif count % 3 == 0 %}
        {% set class = 'col-1-3 col-md-1-2 col-1-1' %}
    {% elseif count == 2 %}
        {% set class = 'col-1-2 col-1-1' %}
    {% elseif count > 4 %}
        {% set class = 'col-1-4 col-lg-1-3 col-md-1-2 col-1-1' %}
    {% elseif count == 1 %}
        {% set class = 'col-1-1' %}
    {% endif %}

    <div class="grid g-3 ContentGrid">
        {% for column in columns %}
            <div class="{{ class }} ContentGrid-cell">
                <div class="ContentGrid-item">
                    {% if column.title %}
                        {% if column.link %}
                            <div class="ContentGrid-title"><a href="{{ column.link }}" class="ContentGrid-link">{{ column.title }}</a></div>
                        {% else %}
                            <div class="ContentGrid-title">{{ column.title }}</div>
                        {% endif %}
                    {% endif %}
                    <div class="ContentGrid-content">{{ column.content }}</div>
                    {% if column.link %}
                        <a href="{{ column.link }}" class="Button ContentGrid-button">{{ column.linkText ?: 'Learn More' }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
