{% set id = "js-iframe--" ~ random_string() %}
<div class="Container Container--pad">
    <div class="embed my-5 aspect-{{ embedRatio|replace(':', '-') }} {{ id }}">
        {% inlinejs %}
            loadjs.ready('main', {
                success: function() {
                    const element = document.querySelector(".{{ id }}");
                    loadIframeOnObserve(element, "{{ iframeTag.src }}", "{{ title ?: "Embedded iFrame" }}");
                }
            });
        {% endinlinejs %}
    </div>
</div> 
 