{% if images %}
    {% import 'macros/macros' as macros %}

    {# Max width for the images #}
    {% set width = 800 %}

    {# Set the image classes based on the number of images #}
    {% set count = numberOfImages == 'Auto' ? images|length : numberOfImages %}
    {% if count == null %}
        {% set count = images|length %}
    {% endif %}

    {% set ncClass = "nc-1" %}
    {% set class = "col-1-1" %}

    {% set count6 = {width: 250, class: class ~ ' col-1-2-sm col-1-3-md col-1-6-lg'} %}
    {% set count5 = {width: 300, class: class ~ ' col-1-2-sm col-1-3-md col-1-5-lg'} %}
    {% set count4 = {width: 400, class: class ~ ' col-1-2-sm col-1-3-md col-1-4-lg'} %}
    {% set count3 = {width: 500, class: class ~ ' col-1-2-md col-1-3-lg'} %}
    {% set count2 = {width: 800, class: class ~ '  col-1-2-lg'} %}

    {% if count == 6 %}
        {% set class = count6.class %}
        {% set width = count6.width %}
        {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-6-lg" %}
    {% elseif count == 5 %}
        {% set class = count5.class %}
        {% set width = count5.width %}
        {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-5-lg" %}
    {% elseif count == 4 %}
        {% set class = count4.class %}
        {% set width = count4.width %}
        {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-4-lg" %}
    {% elseif count == 3 %}
        {% set class = count3.class %}
        {% set width = count3.width %}
        {% set ncClass = "nc-1 nc-2-md nc-3-lg" %}
    {% elseif count == 2 %}
        {% set class = count2.class %}
        {% set width = count2.width %}
        {% set ncClass = "nc-1 nc-2-lg" %}
    {% elseif numberOfImages == 'Auto' %}
        {% if count % 6 == 0 %}
            {% set class = count6.class %}
            {% set width = count6.width %}
            {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-6-lg" %}
        {% elseif count % 5 == 0 %}
            {% set class = count5.class %}
            {% set width = count5.width %}
            {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-5-lg" %}
        {% elseif count % 4 == 0 %}
            {% set class = count4.class %}
            {% set width = count4.width %}
            {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-4-lg" %}
        {% elseif count % 3 == 0 %}
            {% set class = count3.class %}
            {% set width = count3.width %}
            {% set ncClass = "nc-1 nc-2-md nc-3-lg" %}
        {% elseif count % 2 == 0 %}
            {% set class = count2.class %}
            {% set width = count2.width %}
            {% set ncClass = "nc-1 nc-2-lg" %}
        {% elseif count > 6 %}
            {% set class = count4.class %}
            {% set width = count4.width %}
            {% set ncClass = "nc-1 nc-2-sm nc-3-md nc-4-lg" %}
        {% endif %}
    {% endif %}

    <div class="Container Container--pad">
        <div class="grid g-2 {{ ncClass }}">
            {% for image in images %}
                {% set imageLink = image.image.src %}
                {% set image.image.class = imageStyle == 'Cover' ? 'fit-cover w-100' : 'fit-contain' %}
                {% do image.image.alt.default(image.title) %}
                {% if imageAspectRatio != 'Auto' %}
                    {% do image.image.resize({w: width, ar: imageAspectRatio, crop: true}) %}
                {% else %}
                    {% do image.image.resize(width) %}
                {% endif %}
                {% do image.image.lazy() %}
                <div class="{{ class }}">
                    <a data-fslightbox data-type="image" class="block link-subtle" href="{{ imageLink }}" {{ image.title ? 'data-caption="' ~ image.title ~ '"' }}>
                        {% if imageAspectRatio != 'Auto' %}
                            <span class="flex aspect-{{ imageAspectRatio|replace('x', '-') }}">{{ image.image.tag }}</span>
                        {% else %}
                            {{ image.image.tag }}
                        {% endif %}
                        {% if image.title %}
                            <span class="mt-1 block text-center">{{ image.title }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ macros.loadLightbox() }}
{% endif %}
