{% import 'macros/macros' as macros %}

{% if slides %}
    <div class="Container Container--pad">
        {% set class = 'js-imageSlider--' ~ random_string() %}
        <div class="Slider splide {{ class }}" role="group" aria-label="Image Slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slide in slides %}
                        {% if slide.image %}
                            <li class="splide__slide">
                                {% set content %}
                                    {% set lgImage = clone(slide.image) %}
                                    {% do lgImage.resize(1200, 1000) %}
                                    {% set slide.image.class = 'w-100' %}
                                    {% if aspectRatio != 'None' %}
                                        {% set width = 1500 %}
                                        {% if slidesPerPage|int > 1 %}
                                            {% set width = width / slidesPerPage|int %}
                                        {% endif %}
                                        {% do slide.image.crop({ ar: aspectRatio|replace(':', 'x'), w: width, crop: slide.cropPosition ?? 'center' }) %}
                                    {% endif %}
                                    {% do slide.image.alt|default(slide.title) %}
                                    {% do slide.image.lazy() %}
                                    {% if slide.link %}
                                        {{ slide.image.tag }}
                                    {% else %}
                                        <a href="{{ lgImage.src }}" data-fslightbox data-type="image" data-caption="{{ slide.title }}">{{ slide.image.tag }}</a>
                                    {% endif %}
                                    {% if slide.title %}
                                        <div class="Slider-content">{{ slide.title }}</div>
                                    {% endif %}
                                {% endset %}
                                {% if slide.link %}
                                    <a href="{{ slide.link }}" class="Slider-wrapper">{{ content }}</a>
                                {% else %}
                                    <div class="Slider-wrapper">{{ content }}</div>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {{ macros.loadSplide() }}
    {{ macros.loadLightbox()}}
    {% inlinejs %}
        loadjs.ready('splide', {
            success: function() {
                new Splide('.{{ class }}', {
                    pagination  : false,
                    rewind      : true,
                    perMove     : 1,
                    gap         : '10px',
                    autoplay    : {{ autoPlaySlides ? 'true' : 'false' }},
                    interval    : {{ sliderSpeed ? sliderSpeed * 1000 : 4000 }},
                    perPage     : {{ slidesPerPage }},
                    breakpoints: {
                        1280: {
                            perPage: {{ slidesPerPage|int < 4 ? slidesPerPage : 4 }}
                        },
                        1024: {
                            perPage: {{ slidesPerPage|int < 3 ? slidesPerPage : 3 }}
                        },
                        768: {
                            perPage: {{ slidesPerPage|int < 2 ? slidesPerPage : 2 }}
                        },
                        576: {
                            perPage: 1
                        }
                    }
                }).mount();
            }
        });
    {% endinlinejs %}
{% endif %}
