{# Setup image alt text #}
{% if caption and image.alt|length == 0 %}
    {% set image.alt = caption %}
{% endif %}

{# Setup caption #}
{% if caption %}
    {% set caption = '<div class="ImageCaption">' ~ caption ~ '</div>' %}
{% endif %}

{# Display the image based on alignment #}
{% if alignment == 'center' %}
    <div class="ImageWrapper ImageWrapper--center">{{ image.tag }}{{ caption }}</div>
{% elseif alignment == 'left' %}
    <div class="ImageWrapper ImageWrapper--left">{{ image.tag }}{{ caption }}</div>
{% elseif alignment == 'right' %}
    <div class="ImageWrapper ImageWrapper--right">{{ image.tag }}{{ caption }}</div>
{% else %}
    <div class="ImageWrapper ImageWrapper--default">
        {{ image.tag }}{{ caption }}
    </div>
{% endif %}
