{% if images %}
    {% import 'macros/macros' as macros %}

    {# Set the image classes based on the number of images #}
    {% set count = numberOfImages == 'Auto' ? images|length : numberOfImages %}
    {% if count == null %}
        {% set count = images|length %}
    {% endif %}

    {% if count % 4 == 0 %}
        {% set class = 'col-1-1 col-sm-1-2 col-md-1-3 col-lg-1-4' %}
    {% elseif count % 3 == 0 %}
        {% set class = 'col-1-1 col-md-1-2 col-lg-1-3' %}
    {% elseif count == 2 %}
        {% set class = 'col-1-1 col-md-1-2' %}
    {% elseif count > 4 %}
        {% set class = 'col-1-1 col-sm-1-2 col-md-1-3 col-lg-1-4' %}
    {% elseif count == 1 %}
        {% set class = 'col-1-1' %}
    {% endif %}

    <div class="Container Container--pad">
        <div class="grid g-2">
            {% for image in images %}
                <div class="{{ class }}">
                    {% if imageStyle == 'Cover' %}
                        {% set image.image.class = 'fit-cover' %}
                    {% else %}
                        {% set image.image.class = 'fit-contain' %}
                    {% endif %}
                    <a data-fslightbox data-type="image" class="block link-subtle" href="{{ image.image.src }}" {{ image.title ? 'data-caption="' ~ image.title ~ '"' }}>
                        <span class="flex aspect-{{ imageAspectRatio|replace('x', '-') }}">
                        {{ image.image.tag }}
                        </span>
                        {% if image.title %}
                            <span class="mt-1 block text-center">{{ image.title }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ macros.loadLightbox() }}
{% endif %}
