{% import 'macros/macros' as macros %}

{% if slides %}
    <div class="Container Container--block">
        {% macro slideImage(slide) %}
            {% if slide.image %}
                {% set slide.image.class = 'ImageSlider-image' %}
                {% set slide.image.alt = slide.title ?: 'Slider Image' %}
                {% if slide.link %}
                    <a href="{{ slide.link }}" class="ImageSlider-imageWrap">{{ slide.image.tag }}</a>
                {% else %}
                    <div class="ImageSlider-imageWrap">{{ slide.image.tag }}</div>
                {% endif %}
            {% endif %}
        {% endmacro %}

        {% macro slideContent(slide, titleClass, contentClass) %}
            {% if slide.title %}
                {% if slide.link %}
                    <a href="{{ slide.link }}" class="ImageSlider-title ImageSlider-link {{ titleClass }}">{{ slide.title }}</a>
                {% else %}
                    <div class="ImageSlider-title {{ titleClass }}">{{ slide.title }}</div>
                {% endif %}
            {% endif %}
            {% if slide.content %}
                <div class="ImageSlider-content {{ contentClass }}">{{ slide.content }}</div>
            {% endif %}
        {% endmacro %}

        {% import _self as slide_macros %}

        {% set class = 'js-imageSlider' ~ random_string(8)|upper %}
        {% set slideGridClass = class ~ 'grid' %}
        {% set numSlides = 4 %}
        {% set mdNumSlides = 3 %}
        {% set smNumSlides = 2 %}
        <div class="splide ImageSlider {{ class }}" role="group" aria-label="Image Slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slide in slides %}
                        {% set slideClass = '' %}
                        {% if displayContent == 'Over Image' %}
                            {% set slideClass = slideClass ~ ' ImageSlider-cover' %}
                        {% elseif displayContent == 'Behind Image' %}
                            {% set slideClass = slideClass ~ ' ImageSlider-hover' %}
                        {% endif %}
                        
                        <li class="splide__slide ImageSlider-slide{{ slideClass }}">
                            {% if displayContent == 'Below Image' %}
                                {% set numSlides = 3 %}
                                {% set mdNumSlides = 2 %}
                                {% set smNumSlides = 2 %}
                                {{ slide_macros.slideImage(slide) }}
                                <div class="ImageSlider-contentWrap">
                                    {{ slide_macros.slideContent(slide) }}
                                </div>
                            {% elseif displayContent == 'Right of Image' %}
                                {% set numSlides = 2 %}
                                {% set mdNumSlides = 1 %}
                                {% set smNumSlides = 1 %}
                                <div class="grid ImageSlider-grid {{ slideGridClass }}">
                                    <div class="col-1-2 col-1-1  u-flexCol">{{ slide_macros.slideImage(slide) }}</div>
                                    <div class="col-1-2 col-1-1 ImageSlider-gridContent">
                                        {{ slide_macros.slideContent(slide) }}
                                    </div>
                                </div>
                            {% elseif displayContent == 'Left of Image' %}
                                {% set numSlides = 2 %}
                                {% set mdNumSlides = 1 %}
                                {% set smNumSlides = 1 %}
                                <div class="grid ImageSlider-grid {{ slideGridClass }}">
                                    <div class="col-1-2 col-1-1 ImageSlider-gridContent">
                                        {{ slide_macros.slideContent(slide) }}
                                    </div>
                                    <div class="col-1-2 col-1-1 u-flexCol">{{ slide_macros.slideImage(slide) }}</div>
                                </div>
                            {% elseif displayContent == 'Over Image' %}
                                {% if slide.link %}
                                    {% set link = slide.link %}
                                    {% set slide.link = null %}
                                {% endif %}
                                {% set numSlides = 3 %}
                                {% set mdNumSlides = 2 %}
                                {% set smNumSlides = 2 %}
                                {{ slide_macros.slideImage(slide) }}
                                {% if link %}
                                    <a href="{{ link }}" class="ImageSlider-coverContent ImageSlider-coverLink">
                                        <div class="ImageSlider-coverContentInner">
                                            {{ slide_macros.slideContent(slide, 'ImageSlider-coverContentHeading', 'ImageSlider-coverContentWrap') }}
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="ImageSlider-coverContent">
                                        <div class="ImageSlider-coverContentInner">
                                            {{ slide_macros.slideContent(slide, 'ImageSlider-coverContentHeading', 'ImageSlider-coverContentWrap') }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% elseif displayContent == 'Behind Image' %}
                                {% if slide.link %}
                                    {% set link = slide.link %}
                                    {% set slide.link = null %}
                                {% endif %}
                                {% set numSlides = 3 %}
                                {% set mdNumSlides = 2 %}
                                {% set smNumSlides = 2 %}
                                {{ slide_macros.slideImage(slide) }}
                                {% if link %}
                                    <a href="{{ link }}" class="ImageSlider-hoverContent ImageSlider-hoverLink">
                                        <div class="ImageSlider-hoverContentInner">
                                            {{ slide_macros.slideContent(slide, 'ImageSlider-hoverContentHeading', 'ImageSlider-hoverContentWrap') }}
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="ImageSlider-hoverContent">
                                        <div class="ImageSlider-hoverContentInner">
                                            {{ slide_macros.slideContent(slide, 'ImageSlider-hoverContentHeading', 'ImageSlider-c\hoverContentWrap') }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {{ slide_macros.slideImage(slide) }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    {{ macros.loadSplide() }}
    {% inlinejs %}
        loadjs.ready('splide', {
            success: function() {
                new Splide('.{{ class }}', {
                    pagination  : false,
                    rewind      : true,
                    perMove     : 1,
                    gap         : '10px',
                    padding     : { left: 36, right: 36 },
                    autoplay    : {{ autoPlaySlides ? 'true' : 'false' }},
                    interval    : {{ sliderSpeed ? sliderSpeed * 1000 : 4000 }},
                    perPage     : {{ numSlides }},
                    breakpoints : {
                        900: {
                            perPage: {{ mdNumSlides }}
                        },
                        700: {
                            perPage: {{ smNumSlides }}
                        },
                        450: {
                            perPage: 1
                        }
                    }
                }).mount();
            }
        });
    {% endinlinejs %}
{% endif %}
