{% if images %}
    {% import 'macros/macros' as macros %}

    {# Max width for the images #}
    {% set width = 800 %}

    {# Set the image classes based on the number of images #}
    {% set count = numberOfImages == 'Auto' ? images|length : numberOfImages %}
    {% if count == null %}
        {% set count = images|length %}
    {% endif %}


    {% set class = "col-1-1" %}
    {% if count % 6 == 0 %}
        {% set class = class ~ 'col-sm-1-2 col-md-1-3 col-lg-1-6' %}
        {% set width = 250 %}
    {% elseif count % 5 == 0 %}
        {% set class = class ~ 'col-sm-1-2 col-md-1-3 col-lg-1-5' %}
        {% set width = 300 %}
    {% elseif count % 4 == 0 %}
        {% set class = class ~ 'col-sm-1-2 col-md-1-3 col-lg-1-4' %}
        {% set width = 400 %}
    {% elseif count % 3 == 0 %}
        {% set class = class ~ 'col-md-1-2 col-lg-1-3' %}
        {% set width = 500 %}
    {% elseif count == 2 %}
        {% set class =class ~  'col-md-1-2' %}
    {% elseif count > 6 %}
        {% set class = class ~ 'col-sm-1-2 col-md-1-3 col-lg-1-4' %}
        {% set width = 400 %}
    {% endif %}

    <div class="Container Container--pad">
        <div class="grid g-2">
            {% for image in images %}
                {% set image.image.class = imageStyle == 'Cover' ? 'fit-cover w-100' : 'fit-contain' %}
                {% do image.image.alt.default(image.title) %}
                {% do image.image.resize({w: width, ar: imageAspectRatio, crop: true}) %}
                {% do image.image.lazy() %}
                <div class="{{ class }}">
                    <a data-fslightbox data-type="image" class="block link-subtle" href="{{ image.image.src }}" {{ image.title ? 'data-caption="' ~ image.title ~ '"' }}>
                        <span class="flex aspect-{{ imageAspectRatio|replace('x', '-') }}">{{ image.image.tag }}</span>
                        {% if image.title %}
                            <span class="mt-1 block text-center">{{ image.title }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ macros.loadLightbox() }}
{% endif %}
